.header {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 1440px;
  width: calc(100% - 32px);
  margin: 0 auto;
  background-color: var(--backround-color);
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}
