.header {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 20px 0;
  /* border: 1px solid var(--border-color);
  border-radius: 12px; */
  position: sticky;
  top: 0;
  z-index: 100;
}
